colorama==0.4.4
    # via loguru
cycler==0.11.0
    # via matplotlib
fonttools==4.32.0
    # via matplotlib
greenlet==1.1.2
    # via sqlalchemy
kiwisolver==1.4.2
    # via matplotlib
loguru==0.5.3
    # via -r requirements.in
matplotlib==3.5.1
    # via -r requirements.in
networkx==2.6.3
    # via -r requirements.in
numpy==1.22.3
    # via matplotlib
packaging==21.3
    # via matplotlib
pillow==9.1.0
    # via matplotlib
pyparsing==3.0.8
    # via
    #   matplotlib
    #   packaging
python-dateutil==2.8.2
    # via matplotlib
six==1.16.0
    # via python-dateutil
sqlalchemy==1.4.28
    # via -r requirements.in
sqlparse==0.4.2
    # via -r requirements.in
win32-setctime==1.1.0
    # via loguru
